body {
  font-family: sans-serif;
  margin: 10px;
  font-size: 12px;
  cursor: default;
}

[lock="locked"] {
  opacity: 0.33;
}

.tampa {
  position: absolute;
  right: 11px;
  margin-top: 9px;
}

.tampa__state {
  background: #eee;
  padding: 2px 4px;
  border-radius: 4px;
  border: solid 1px #059;
  color: #059;
  font-weight: bold;
}

/* form */
input,
button,
select {
  font-size: inherit;
}
select {
  padding: 3px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
button {
  border-radius: 4px;
  outline: none;
  padding: 4px 7px;
  background: rgba(0, 0, 0, 0.05);
  border: solid 1px rgba(0, 0, 0, 0.22);
}
button:focus,
button:active {
  background: rgba(0, 0, 0, 0.12);
}
input[type="number"],
input[type="text"] {
  padding: 4px;
  border: rgba(0, 0, 0, 0.25) solid 1px;
  border-radius: 3px;
}
input[type="number"]:focus,
input[type="text"]:focus,
select:focus,
button:focus {
  outline: none;
  border-color: #555;
  box-shadow: 1px 1px 0 #556, -1px 1px 0 #555, 1px -1px 0 #555, -1px -1px 0 #555;
}

.arquivos.over {
  background: #ccc;
}
.arquivos img {
  max-width: 100px;
  max-height: 100px;
  vertical-align: middle;
}
.arquivos h2 {
  padding: 20px;
}

.conexao-dmx input {
  width: 50px;
}
.conexao-dmx select {
  width: 200px;
}
.servidor-http input {
  width: 35px;
}

.servidor-http {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(221, 221, 221);
}
.servidor-http .fa-link,
.servidor-http .fa-unlink {
  width: 14px;
  text-align: center;
  display: inline-block;
}
.servidor-http .fa-link {
  color: #006600;
}
.servidor-http .fa-unlink {
  color: #aaa;
}
.conexao-dmx {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mesa {
  height: 264px;
  overflow: auto;
}
.mesa > div {
  width: 5100px;
  margin-left: -1px;
}
.mesa__canal {
  width: 20px;
  height: 220px;
  float: left;
  font-size: 10px;
  text-align: center;
}
.mesa__label {
  padding-bottom: 3px;
  font-size: 11px;
}
.slider {
  background: #ddd;
  height: 211px;
  border-left: 1px solid #bbb;
  position: relative;
  border-top: 1px solid #bbb;
}
.mesa__canal:first-of-type .slider {
  margin-left: 1px;
}
.mesa__value {
  font-size: 12px;
  font-weight: bolder;
  letter-spacing: -1px;
  line-height: 1.1em;
}

/*
input[type="range"] {
    -webkit-appearance: slider-vertical;
    width: 34px;
    height: 206px;
}
input[type="range"]::-webkit-slider-thumb {
    width: 34px; height: 34px;
}
*/
.monitor {
  position: absolute;
  right: 10px;
  top: 10px;
}
input[type="range"].mesa__canal__input {
  height: 20px;
  transform: rotate(-90deg);
  margin: 0;
  width: 210px;
  top: 95px;
  left: -95px;
  position: absolute;
  -webkit-appearance: none;
  background: transparent;
}
input[type="range"].mesa__canal__input:focus {
  outline: none;
}
input[type="range"].mesa__canal__input:active::-webkit-slider-thumb {
  opacity: 0.5;
}
input[type="range"].mesa__canal__input::-webkit-slider-thumb {
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  height: 22px;
  width: 42px;
  border-radius: 0px;
  background: #ffffff;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type="range"].mesa__canal__input::-webkit-slider-runnable-track {
}
input[type="range"].mesa__canal__input:focus::-webkit-slider-runnable-track {
  background: transparent;
}

.equipamentos {
  margin-top: 10px;
  margin-bottom: 10px;
}
.equipamentos:after {
  content: "";
  display: table;
  clear: both;
}
.equipamento {
  background: white;
  padding: 5px;
  width: 326px;
  position: relative;
  border: solid 1px #ddd;
  margin-left: -1px;
  margin-top: -1px;

  height: 208px;
  /* display: inline-block; */
  float: left;
}
.equipamento__main {
  float: left;
}
.equipamento__canais {
  float: right;
}
.equipamento__canal {
  width: 22px;
  float: left;
}
.equipamento__canal__input {
  -webkit-appearance: slider-vertical;
  width: 18px;
}
.equipamento__nome {
  font-size: 23px;
  display: block;
}
.equipamento__inicio {
  display: block;
  position: absolute;
  left: 6px;
  bottom: 3px;
  font-size: 25px;
  color: #ddd;
  font-weight: bold;
}
.equipamento i.fa.fa-pencil,
.equipamento i.fa.fa-close {
  opacity: 0.2;
}
.equipamento i.fa.fa-close {
  font-size: 21px;
  float: right;
}
.equipamento i.fa.fa-pencil:hover,
.equipamento i.fa.fa-close:hover {
  opacity: 1;
}

.selected {
  background: #fe0;
}

.equipamento__canal {
  text-align: center;
  font-size: 11px;
}
.equipamento__canal.red,
.equipamento__canal.green,
.equipamento__canal.blue {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.equipamento__canal.white {
  background: linear-gradient(#fff, #444);
}
.equipamento__canal.master .equipamento__canal__valor,
.equipamento__canal.white .equipamento__canal__valor {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.equipamento__canal.red {
  background: #fbb;
  background: linear-gradient(#f66, #444);
}
.equipamento__canal.green {
  background: #bfb;
  background: linear-gradient(#6f6, #444);
}
.equipamento__canal.blue {
  background: #bbf;
  background: linear-gradient(#66f, #444);
}
.equipamento__canal.master {
  background: linear-gradient(
      rgba(256, 256, 256, 0.9),
      rgba(256, 256, 256, 0) 80%,
      rgba(64, 64, 64, 0.7)
    ),
    linear-gradient(90deg, red, green, blue);
}

input[type="color"] {
  width: 70px;
  height: 70px;
}

.cena .fa.fa-close {
  float: right;
  opacity: 0.3;
  margin-top: 5px;
  font-size: 16px;
  margin-right: 4px;
}
.equipamento button {
  padding: 4px;
  font-size: 11px;
}
.cenas {
  margin: 5px 0;
}
.cena {
  padding: 0 5px;
}
.cena .fa.fa-close:hover {
  opacity: 0.7;
}

.add-form {
  position: absolute;
  right: 10px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  padding: 10px;
  line-height: 2.5em;
  margin-top: 5px;
  z-index: 1;
}

.equipamentos__mapa {
  background: #eee;
  padding: 5px;
  margin: 20px 0;
}
.equipamentos__mapa__equipamento {
  border: 5px solid;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
}
.equipamentos__mapa__equipamentos .equipamentos__mapa__equipamento {
  opacity: 0.3;
}
.equipamentos__mapa__equipamentos-selecionados
  .equipamentos__mapa__equipamento {
  transform: scale(1.5);
  opacity: 1;
}
.equipamentos__mapa__celula {
  background: #ccc;
  border: 1px solid #aaa;
  height: 25px;
  flex: 1;
  padding: 5px;
  margin: 0 5px;
  text-align: center;
}
.equipamentos__mapa__linha {
  padding: 5px 0;
  margin-bottom: 5px;
  background: #e2e2e2;
  border: 1px solid #ddd;
}
.equipamentos__mapa__celula.equipamentos__mapa__equipamentos-selecionados {
  border-color: #05a;
}

.equipamento__canal {
  border-radius: 11px;
  padding: 3px 1px;
}
.equipamento__canal__input__wrapper {
  height: 140px;
  position: relative;
}
input[type="range"].equipamento__canal__input {
  -webkit-appearance: none;
  transform: rotate(-90deg);
}
input[type="range"].equipamento__canal__input:focus {
  outline: none;
}
input[type="range"].equipamento__canal__input::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-top: -1px;
  -webkit-appearance: none;
  border: 0;
}
/* input[type="range"].equipamento__canal__input::-webkit-slider-runnable-track {} */

input[type="range"].equipamento__canal__input {
  -webkit-appearance: none;
  width: 138px;
  background: rgba(0, 0, 0, 0.3);
  height: 8px;
  position: absolute;
  left: -60px;
  top: 65px;
}
input[type="color"] {
  width: 70px;
  -webkit-appearance: none;
  height: 70px;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  -webkit-appearance: none;
  border-radius: 35px;
  border: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

input.equipamento__inicio {
  width: 60px;
  z-index: 1;
}
.cenas__controller {
  text-align: right;
}
input.cena__tempo {
  width: 80px;
  margin-left: 5px;
  box-shadow: none !important;
}
input.cena__nome {
  padding: 0;
  background: transparent;
  border: 0;
  width: 100%;
  display: block;
  line-height: inherit;
  box-shadow: none !important;
}
.cena .fa.fa-pencil {
  float: right;
  opacity: 0.5;
  margin-top: 6px;
}
.cena .fa.fa-pencil:hover {
  opacity: 1;
}
.soft-panel {
  margin-bottom: 10px;
  position: absolute;
  background: white;
  z-index: 2;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  padding: 10px;
  text-align: left;
  width: 250px;
  outline: none;
}
.cenas__controller input[type="range"] {
  height: 10px;
  width: 300px;
  margin-bottom: 9px;
}

.arquivo {
  padding: 6px 16px 6px 24px;
  border: 2px transparent solid;
  position: relative;
}
.arquivo.selected {
  background: #fe0;
}
.arquivo.active {
  border: dashed #060 2px;
  color: #060;
}

.arquivo strong {
  font-size: 16px;
  margin-right: 5px;
}

.arquivos__controles {
  font-size: 16px;
}
.abrir-fechar {
  font-size: 20px;
  font-weight: bold;
  background: #eee;
  padding: 5px;
  margin-bottom: 5px;
}
.cena {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.arquivo__state {
  display: inline-block;
  width: 20px;
  font-size: 15px;
  position: absolute;
  left: 10px;
}
.arquivo.na-tela {
  color: #03b;
}

.over-frame {
  position: absolute;
  background: white;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.33);
  margin-top: -6px;
  z-index: 2;
}

.arquivo.na-tela .arquivo__state {
  animation: blinkingText 0.5s infinite;
}
@keyframes blinkingText {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0.75;
  }
  99% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
.abrir-fechar:hover {
  background: #ddd;
}
.cenas__controller input[type="range"],
.volume input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin: 13.75px 0;
}
.cenas__controller input[type="range"]:focus,
.volume input[type="range"]:focus {
  outline: none;
}
.cenas__controller input[type="range"]::-webkit-slider-runnable-track,
.volume input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4.5px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  border: 0px solid #010101;
}
.cenas__controller input[type="range"]::-webkit-slider-thumb,
.volume input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1.4px 1.4px 1px #000000, 0px 0px 1.4px #0d0d0d;
  border: 0px solid #000000;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;

  margin-top: -13.75px;
  height: 32px;
  width: 32px;
  border-radius: 16px;
}
.cenas__controller input[type="range"]:focus::-webkit-slider-runnable-track,
.volume input[type="range"]:focus::-webkit-slider-runnable-track {
  background: rgba(13, 13, 13, 0.5);
}
.cenas__controller input[type="range"]::-moz-range-track,
.volume input[type="range"]::-moz-range-track {
  width: 100%;
  height: 4.5px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  border: 0px solid #010101;
}
.cenas__controller input[type="range"]::-moz-range-thumb,
.volume input[type="range"]::-moz-range-thumb {
  box-shadow: 1.4px 1.4px 1px #000000, 0px 0px 1.4px #0d0d0d;
  border: 0px solid #000000;
  background: #ffffff;
  cursor: pointer;

  height: 32px;
  width: 32px;
  border-radius: 16px;
}
.cenas__controller input[type="range"]::-ms-track,
.volume input[type="range"]::-ms-track {
  width: 100%;
  height: 4.5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.cenas__controller input[type="range"]::-ms-fill-lower,
.volume input[type="range"]::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.5);
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
.cenas__controller input[type="range"]::-ms-fill-upper,
.volume input[type="range"]::-ms-fill-upper {
  background: rgba(0, 0, 0, 0.5);
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
.cenas__controller input[type="range"]::-ms-thumb,
.volume input[type="range"]::-ms-thumb {
  box-shadow: 1.4px 1.4px 1px #000000, 0px 0px 1.4px #0d0d0d;
  border: 0px solid #000000;
  height: 32px;
  width: 32px;
  border-radius: 16px;
  background: #ffffff;
  cursor: pointer;
  height: 4.5px;
}
.cenas__controller input[type="range"]:focus::-ms-fill-lower,
.volume input[type="range"]:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.5);
}
.cenas__controller input[type="range"]:focus::-ms-fill-upper,
.volume input[type="range"]:focus::-ms-fill-upper {
  background: rgba(13, 13, 13, 0.5);
}
.arquivos .fa-close {
  opacity: 0.5;
  position: relative;
  top: -4px;
  left: 3px;
  cursor: pointer;
}
.arquivos .fa-close:hover {
  opacity: 1;
}
.volume {
  float: right;
  margin-top: 32px;
  margin-right: -10px;
  font-size: 12px;
  vertical-align: top;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.volume input {
  vertical-align: middle;
}

.cenas__transicao-tempo {
  display: inline-block;
  width: 60px;
}
.cenas__nova-cena-form {
  text-align: right;
  padding-bottom: 5px;
}

.arquivos__controles.disabled {
  opacity: 0.3;
}
.arquivos__message {
  position: absolute;
  right: 0;
  font-size: 17px;
  width: 205px;
  text-align: center;
  left: 50%;
  margin-left: -139px;
  background: rgba(256, 256, 256, 0.7);
  z-index: 1;
  color: #444;
  margin-top: 10px;
  font-weight: bold;
  padding: 15px 0;
  text-shadow: 0 0 10px white;
}

@media only screen and (max-width: 600px) {
  .mesa > div {
    margin-top: 100px;
  }
  .arquivos__controles {
    font-size: 32px;
    text-align: center;
  }
  .cenas__controller {
    text-align: center;
  }
  .equipamentos-nomes {
    position: absolute;
    top: 223px;
    left: 0;
    right: 0;
    height: 127px;
    overflow: auto;
  }
  .equipamentos {
    position: absolute;
    left: 0;
    right: 0;
    overflow: auto;
    top: 347px;
    bottom: 0;
    padding: 1px 10px 10px 10px;
  }
  .cena {
    font-size: 14px;
    padding: 10px 5px;
  }
  .cenas__controller input[type="range"],
  .volume input[type="range"] {
    width: 100%;
    /* height: 30px; */
  }
  .cenas__controller button span {
    display: none;
  }
  .cenas__controller button {
    font-size: 50px;
  }
  .volume {
    float: none;
    margin: 0;
    margin-top: 10px;
  }
  .arquivos__controles {
    font-size: 50px;
    text-align: center;
  }
  .cenas__transicao-tempo {
    position: absolute;
    right: 0;
  }

  .cenas__controller {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;

    padding: 0 20px;
  }
  .cenas .cenas {
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    bottom: 40px;
    overflow: auto;
  }
  .cenas__nova-cena-form {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;
    padding: 10px;
    font-size: 18px;
  }
  .arquivos__controles {
    left: 0;
    right: 0;
    top: 60px;
    padding-top: 10px;
  }
  .arquivos__itens {
    position: absolute;
    top: 230px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
  }
  .mesa {
    height: auto;
    position: absolute;
    top: 60px;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.tabs > *,
.tabs > *.fa {
  float: left;
  width: 20%;
  text-align: center;
  font-size: 40px;
  height: 50px;
  opacity: 0.3;
  line-height: 50px;
}
.tabs {
  height: 60px;
}
.tabs > .fa.selected {
  color: #029;
  opacity: 1 !important;
  background: transparent;
}

.volume {
  text-align: left;
}

.arquivo strong {
  font-size: 16px;
  margin-right: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  font-weight: normal;
}
.equipamento-option {
  padding: 6px 7px;
  font-size: 14px;
}
