body { font-family: sans-serif; margin: 10px; font-size: 12px; }

/* form */
input, button, select { font-size: inherit; }
select { padding: 3px; border: solid 1px rgba(0, 0, 0, .2); border-radius: 3px; }
button { border-radius: 4px; outline: none; padding: 4px 7px; background: rgba(0,0,0,.05);
    border: solid 1px rgba(0,0,0,.22); }
button:focus, button:active { background: rgba(0,0,0,.12); }
input[type="number"], input[type="text"] { padding: 4px; border: rgba(0,0,0,.25) solid 1px; border-radius: 3px; }
input[type="number"]:focus, input[type="text"]:focus, select:focus, button:focus {
    outline: none; border-color: #555;
    box-shadow: 0 1px 1px #555, 0 -1px 1px #555, 0 1px -1px #555, 0 -1px -1px #555; }


.arquivos { height: 400px; background: #ddd; }
.arquivos.over { background: #ccc; }
.arquivos img { max-width: 100px; max-height: 100px; }
.arquivos h2 { padding: 20px; }

.conexao-dmx input { width: 50px; }
.conexao-dmx select { width: 200px; }
.servidor-http input { width: 50px }

.servidor-http, .monitor { padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #ddd; }
.conexao-dmx { padding-top: 10px; padding-bottom: 10px; }


.mesa { height: 264px; overflow: auto; }
.mesa>div { width: 5100px; margin-left: -1px; }
.mesa__canal{ width: 20px; height: 220px; float: left; font-size: 10px; text-align: center; }
.mesa__label { padding-bottom: 3px; font-size: 11px; }
.slider { background: #ddd; height: 211px; border-left: 1px solid #bbb; position: relative; }
.mesa__value { font-size: 12px; font-weight: bolder; letter-spacing: -1px; line-height: 1.1em; }

/*
input[type="range"] {
    -webkit-appearance: slider-vertical;
    width: 34px;
    height: 206px;
}
input[type="range"]::-webkit-slider-thumb {
    width: 34px; height: 34px;
}
*/
input[type="range"].mesa__canal__input {
    height: 20px; transform: rotate(-90deg); margin: 0; width: 210px; top: 95px; left: -96px; position: absolute;
    -webkit-appearance: none; background: transparent; }
input[type="range"].mesa__canal__input:focus { outline: none; }
input[type="range"].mesa__canal__input:active::-webkit-slider-thumb { opacity: .5; }
input[type="range"].mesa__canal__input::-webkit-slider-thumb { border-right: 1px solid #ccc;
    border-top: 1px solid #ccc; height: 22px; width: 42px; border-radius: 0px;
    background: #ffffff; -webkit-appearance: none; margin-top: 0px; }
input[type="range"].mesa__canal__input::-webkit-slider-runnable-track { }
input[type="range"].mesa__canal__input:focus::-webkit-slider-runnable-track { background: transparent; }

.equipamentos { overflow: hidden; }
.equipamento { background: white; padding: 5px; width: 280px; float: left;
    border-top: solid 1px #ddd; border-left: 1px solid #ddd; margin-left: -1px; margin-top: -1px;}
.equipamento__main{ float: left; }
.equipamento__canais  { float: right; }
.equipamento__canal { width: 22px; float: left; }
.equipamento__canal__input{ -webkit-appearance: slider-vertical; width: 18px; }


.selected { background: #fe0 }

.equipamento__canal { text-align: center;}
.equipamento__canal.red, .equipamento__canal.green, .equipamento__canal.blue {
     color: white; text-shadow: 0 1px 1px rgba(0,0,0,.5)
}
.equipamento__canal.white { background: linear-gradient(#fff,#444); }
.equipamento__canal.master .equipamento__canal__valor, .equipamento__canal.white .equipamento__canal__valor { color: white; text-shadow: 0 1px 1px rgba(0,0,0,.5) }
.equipamento__canal.red { background: #fbb; background: linear-gradient(#f66,#444) }
.equipamento__canal.green { background: #bfb; background: linear-gradient(#6f6,#444) }
.equipamento__canal.blue { background: #bbf; background: linear-gradient(#66f,#444) }
.equipamento__canal.master {
    background: linear-gradient( rgba(256,256,256,.9), rgba(256,256,256,0) 80%, rgba(64,64,64,0.7)),
        linear-gradient(90deg, red, green, blue);
}

input[type="color"] { width: 70px; height: 70px; }
.cenas table { width: 100%; border-collapse: collapse;}
.cenas table th { text-align: left;}
.cena input[type="text"] { width: calc(100% - 50px); display: block; }
